.containerlogin {
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    171deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 95%,
    rgba(255, 0, 0, 1) 100%
  );
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 700px;
  align-items: center;
  font-family: "Bebas Neue", cursive;
}
.skatelogin{
  width: 300px;
  margin-left: -300px;
}

.text{ 
    font-size: 40px;
}
.login2{
    background-color: rgba(0, 0, 0, 0.557);
    padding: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputSenha{
    margin-top: 30px;
}

.forgotPass{
    cursor: pointer;
}
.password, .email{
    margin-right: 10px;
}

.btnLogin {
  --color: #ffffff;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 12px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
  margin-left: 55px;
  margin-top: 30px;
  width: 100px;
  height: 40px;
}

.btnLogin::after,
.btnLogin::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.btnLogin::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btnLogin:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btnLogin:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btnLogin:hover {
  color: var(--color2);
}

.btnLogin:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

