.Home{
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    margin-bottom: 0;
}

.cards {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .box {
    display: flex;
    flex: 1;
    transition: 0.5s;
    
  }
  .box img {
    transition: 0.5s;
    width: 100%;
    height: 512px;
    object-fit: cover;
    filter: grayscale(1);
  }
  .box:hover {
    flex: 3;
  }
  .box:hover img {
    filter: grayscale(0);
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: rgb(255, 255, 255);
    padding: 80px;
    border-radius: 10px;
    font-family: 'PT Sans Narrow', sans-serif;


  }
  
  .product {
    display: flex;
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-box-shadow: -11px 15px 21px -6px rgba(138,136,138,1);
-moz-box-shadow: -11px 15px 21px -6px rgba(138,136,138,1);
box-shadow: -11px 15px 21px -6px rgba(138,136,138,1);
  }
  
  .product img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
  }
  
  .product-name {
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }

  .buy {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #ffffff;
    color: black;
  }
  
  .buy:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .buy:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .buy:hover {
    box-shadow: 0 0 15px 2px #ff0000;
    text-shadow: 0 0 10px #ff0000;
    color: #f10303;
  }
  
  .buy:hover:before {
    border-color: #f10303;
    text-shadow: 0 0 10px #f34343;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .buy:hover:after {
    border-color: #fd0000;
    text-shadow: 0 0 10px #fff;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .productGrid {
	padding: 20px;
}

@media only screen and (max-width: 600px) {
	.content {
		padding: 10px;
	}
}

@media only screen and (max-width: 480px) {
  .box img {
    height: 300px;
  }
  .product-grid {
    padding: 20px 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
  }
  .product img {
    width: 80px;
    height: 80px;
  }
  .product-name {
    font-size: 14px;
  }
  .buy {
    font-size: 12px;
  }
}

/* Para dispositivos móveis com largura de até 768 pixels */
@media only screen and (max-width: 768px) {
  .product-grid {
    padding: 40px 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .product img {
    width: 80px;
    height: 80px;
  }
}

/* Para dispositivos móveis com largura de até 992 pixels */
@media only screen and (max-width: 992px) {
  .product-grid {
    padding: 60px 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

/* Para dispositivos móveis com largura de até 1200 pixels */
@media only screen and (max-width: 1200px) {
  .product-grid {
    padding: 80px 60px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
}